## Data structures
### Exercise one
Using an appropriate Python data structure, implement two programs that demonstrate the behaviour of a stack (LIFO) queue (FIFO). For each program, you should create a menu system to enable the user to manipulate the structure, and the program should keep running until the user chooses to exit. An example menu for a stack would be:

1. Push
2. Pop
3. View

In [1]:
# Making a class for Last-in First-out (i.e., Stack)
class Stack:
    def __init__(self):
        self.stack = []

    # Adding the item into the stack
    def push(self, item):
        self.stack.append(item)
        print(f"'{item}' added to stack.")

    # Removing the item from the item lastly added
    def pop(self):
        if self.is_empty():
            print("Stack is empty. Nothing to pop.")
        else:
            removed = self.stack.pop()
            print(f"'{removed}' removed from stack.")

    # Showing the stack
    def view(self):
        print("Current stack:", self.stack if self.stack else "Stack is empty.")

    # Checking if the stack does not have any elements
    def is_empty(self):
        return len(self.stack) == 0

# Showing the menu
def stack_menu():
    stack = Stack()
    while True:
        print("\nStack Menu:")
        print("1. Push")
        print("2. Pop")
        print("3. View")
        print("4. Exit")

        # Inputting the option from users
        choice = input("Choose an option (1-4): ")

        # Calling one function after inputting from users
        if choice == '1':
            item = input("Enter item to push onto stack: ")
            stack.push(item)
        elif choice == '2':
            stack.pop()
        elif choice == '3':
            stack.view()
        elif choice == '4':
            print("Exiting stack program.")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 4.")

In [2]:
stack_menu()

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 1
Enter item to push onto stack: 9
'9' added to stack.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 2
'9' removed from stack.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 3
Current stack: Stack is empty.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 1
Enter item to push onto stack: 4
'4' added to stack.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4):
Invalid choice. Please enter a number between 1 and 4.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4):
Invalid choice. Please enter a number between 1 and 4.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 1
Enter item to push onto stack: 3
'3' added to stack.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 1
Enter item to push onto stack: 4
'4' added to stack.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 3
Current stack: ['4', '3', '4']

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 2
'4' removed from stack.

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 3
Current stack: ['4', '3']

Stack Menu:
1. Push
2. Pop
3. View
4. Exit
Choose an option (1-4): 4
Exiting stack program.

In [3]:
# Making a First in First Out (i.e., Queue)
class Queue:
    def __init__(self):
        self.queue = []

    # Checking if the queue does not have any elements
    def is_empty(self):
        return len(self.queue) == 0

    # Adding the element into the queue
    def enqueue(self, item):
        self.queue.append(item)
        print(f"'{item}' added to queue.")

    # Removing the element firstly added
    def dequeue(self):
        if self.is_empty():
            print("Queue is empty. Nothing to dequeue.")
        else:
            removed = self.queue.pop(0)
            print(f"'{removed}' removed from queue.")

    # Showing the queue
    def view(self):
        print("Current queue:", self.queue if self.queue else "Queue is empty.")

# Showing the menu and calling the function defined above
def queue_menu():
    queue = Queue()
    while True:
        print("\nQueue Menu:")
        print("1. Enqueue")
        print("2. Dequeue")
        print("3. View")
        print("4. Exit")

        choice = input("Choose an option (1-4): ")

        if choice == '1':
            item = input("Enter item to enqueue: ")
            queue.enqueue(item)
        elif choice == '2':
            queue.dequeue()
        elif choice == '3':
            queue.view()
        elif choice == '4':
            print("Exiting queue program.")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 4.")

In [4]:
queue_menu()

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 1
Enter item to enqueue: 2
'2' added to queue.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 13
Invalid choice. Please enter a number between 1 and 4.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 1
Enter item to enqueue: 3
'3' added to queue.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 1
Enter item to enqueue: 6
'6' added to queue.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 1
Enter item to enqueue: 9
'9' added to queue.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 1
Enter item to enqueue: Japan
'Japan' added to queue.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): UK
Invalid choice. Please enter a number between 1 and 4.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 3
Current queue: ['2', '3', '6', '9', 'Japan']

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 2
'2' removed from queue.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 1
Enter item to enqueue: UK
'UK' added to queue.

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 3
Current queue: ['3', '6', '9', 'Japan', 'UK']

Queue Menu:
1. Enqueue
2. Dequeue
3. View
4. Exit
Choose an option (1-4): 4
Exiting queue program.

### Exercise two
A business has a number of retail outlets across the world. Each outlet keeps a track of its monthly sales and sends a quarterly report to the company's headquarters. Using at least two different data structures, write a program that calculates the average for each outlet and each month, the total for each outlet and each month, and the grand total for the quarter. You should hard code (write data into your program directly) all the data you need once only. The output should be formatted as shown below.

Hint: Remember, a data structure can be nested within another data structure, and the content of one data structure can be used as a reference point in another (see the sample code).

In [21]:
sales_data = {
    "L3": {"April 18": 390, "May 18": 345, "June 18": 370},
    "P2": {"April 18": 250, "May 18": 270, "June 18": 300},
    "N6": {"April 18": 460, "May 18": 480, "June 18": 450},
    "B8": {"April 18": 470, "May 18": 510, "June 18": 360},
}

In [22]:
# Calculating the total sales for each country

print("Total sales for each country")
for country, monthly_sales in sales_data.items():
    total_sales = sum(monthly_sales.values())
    print(f'{country}: {total_sales}')

Total sales for each country
L3: 1105
P2: 820
N6: 1390
B8: 1340

In [23]:
# Calculating the average sales for each country

print("Average sales for each country in three mounths")
for country, monthly_sales in sales_data.items():
    total_sales = sum(monthly_sales.values())
    average_sales = total_sales / len(monthly_sales)
    print(f'{country}: {average_sales: .1f}')

Average sales for each country in three mounths
L3:  368.3
P2:  273.3
N6:  463.3
B8:  446.7

In [24]:
# Calculating the total sales for each month

print("Total sales for each month in four countries")
monthly_sales_data = {"April 18": 0, "May 18": 0, "June 18": 0}

for monthly_sales in sales_data.values():
    for month, sales in monthly_sales.items():
        monthly_sales_data[month] += sales

for month, total_sales_month in monthly_sales_data.items():
    print(f'{month}: {total_sales_month}')

Total sales for each month in four countries
April 18: 1570
May 18: 1605
June 18: 1480

In [26]:
# Calculating the average sales for each month

print("Average sales for each month in four countries")
monthly_sales_data = {"April 18": 0, "May 18": 0, "June 18": 0}

for monthly_sales in sales_data.values():
    for month, sales in monthly_sales.items():
        monthly_sales_data[month] += sales
for month, total_sales_month in monthly_sales_data.items():
    average_sales_month = total_sales_month / len(sales_data)
    print(f'{month}: {average_sales_month: .1f}')

Average sales for each month in four countries
April 18:  392.5
May 18:  401.2
June 18:  370.0

## EOF